.container {
    display: flex;
    justify-content: center;
    align-items: center;    
    /* height: 100vh; */
    flex-direction: column;
}
.container_input{
    display: flex;
    justify-content: center;
}
.inputCountry{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid;
}
.flag{
    width: 300px;
    border-radius: 5px;
}
.country-item {
    cursor: pointer;
}
.country-item:hover {
    color: rgb(87, 0, 0);
}